<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<!-- Neste arquivo podemos fazer 
algumas configurações para iOS. Basicamente
temos as tags aqui, em que o conteúdo dentro
do tag key é como se fosse a tag em si e 
o conteúdo dentro da tag string é o valor
daquele tag (key) que está logo acima, 
podendo ser o valor de outro tipo além
de string, e temos que tomar cuidado porque
sempre tem uma key e na linha de baixo 
seu valor, portanto não podemos por o que
quisermos em qualquer lugar, temos que seguir
a estrutura -->
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>great_places</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<!-- O uso da lib image_picker, em sua
	própria documentação diz que para 
	que funcione no build para iOS, é 
	preciso adicionar as 2 tags abaixo e o
	valor será uma string dizendo o porquê
	é necessário permitir o uso de cada uma
	das tags, no caso, o porque precisa da 
	câmera e o porquê precisa da galeria 
	na aplicação -->
	<key>NSCameraUsageDescription</key>
	<string>We need to take a picture!</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need to take a picture!</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
